* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #f5f1f1;
  min-height: 8vh;
}

.nav-itens {
  display: flex;
  flex-direction: row;
  list-style-type: none;

  gap: 2.5rem;
}

.control-panel {
  display: grid;
  margin-top: 5%;
}